# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
import numpy as np
import pandas as pd

print( 'NumPy Version:', np.__version__ )
print( 'Pandas Version', pd.__version__ )

NumPy Version: 1.19.2
Pandas Version 1.0.5

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame( {'fruit':['apple','banana','orange']*3,
                     'weight':['high','medium','low']*3,
                     'price':np.random.randint(0,15,9)} )

df2 = pd.DataFrame( {'fruit':['apple','orange','pine']*2,
                     'weight':['high','low']*3,
                     'price':np.random.randint(0,15,6)} )

print(df1)
print()
print(df2)

    fruit  weight  price
0   apple    high      5
1  banana  medium      5
2  orange     low     14
3   apple    high     14
4  banana  medium      8
5  orange     low     10
6   apple    high     10
7  banana  medium      3
8  orange     low      0

    fruit weight  price
0   apple   high      3
1  orange    low      2
2    pine   high     13
3   apple    low     11
4  orange   high      1
5    pine    low      1

In [3]:
# - 依照 fruit 欄位做合併

merged_df = pd.merge( df1, df2, on='fruit' )
merged_df

     fruit weight_x  price_x weight_y  price_y
0    apple     high        5     high        3
1    apple     high        5      low       11
2    apple     high       14     high        3
3    apple     high       14      low       11
4    apple     high       10     high        3
5    apple     high       10      low       11
6   orange      low       14      low        2
7   orange      low       14     high        1
8   orange      low       10      low        2
9   orange      low       10     high        1
10  orange      low        0      low        2
11  orange      low        0     high        1

In [4]:
# - 依照 index 索引做合併

joined_df = df1.join( df2 )
joined_df

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

### Ans: 因 merge() 的合併方式預設為 how = 'inner'。

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。 

### Ans: 因為兩個 Data Frame 有重複的欄位名稱。

In [5]:
df1.join( df2, lsuffix='_df1', rsuffix='_df2' )

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          5     apple       high        3.0
1    banana     medium          5    orange        low        2.0
2    orange        low         14      pine       high       13.0
3     apple       high         14     apple        low       11.0
4    banana     medium          8    orange       high        1.0
5    orange        low         10      pine        low        1.0
6     apple       high         10       NaN        NaN        NaN
7    banana     medium          3       NaN        NaN        NaN
8    orange        low          0       NaN        NaN        NaN